
<!DOCTYPE html>
<html ng-app="glyptotheque">
  <head>
    <meta charset="utf-8" />
    <title> . › GOV.UK Elements </title>
    <meta content="width=device-width" name="viewport" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" /><link href="glyptotheque/styles/main.css" rel="stylesheet" /><script src="assets/scripts/store.bundle.js"></script>
  </head>
  <body class="section--">
    <script>
      // If necessary insert a placeholder before the real menu is created
      if(!store.get('glypto-menu-hidden')) {
        var e = document.createElement('div');
        e.id = 'glypto-nav-placeholder';
        document.body.insertBefore(e, document.body.childNodes[0]);
      }
    </script>
    <glypto-menu></glypto-menu>
    <script id="glyptotheque/menu.html" type="text/ng-template">
      <nav class="glypto-nav" ng-class="{'s-hidden' : navIsHidden}">
        <button class="glypto-nav-toggle" ng-click="toggle()" title="Toggle menu: Command + Shift + E"></button><a class="_logo" href="./">Styleguide</a>
        <div class="search">
          <input class="mousetrap" glypto-search="" ng-model="search" placeholder="Filter (/ to focus)" type="search" />
        </div>
        <glypto-menu-tree filter="search" items="items"></glypto-menu-tree>
      </nav>
    </script>
    <script id="glyptotheque/menu-tree.html" type="text/ng-template">
      <ul>
        <glypto-menu-node ng-repeat="node in items|filter:filter"></glypto-menu-node>
      </ul>
    </script>
    <script id="glyptotheque/menu-node.html" type="text/ng-template">
      <li ng-class="{'_index': node.children, 's-selected': isSelected}"><a href="{{node.path}}">
            {{node.title}}<span class="_count" ng-if="node.children.length">{{node.children.length}}</span></a>
      </li>
    </script><main class="glyptotheque">
      <header class="glypto-header">
        <div class="glypto-container">
          <div class="glypto-breadcrumbs">
            <a href="./">GOV.UK Elements</a>
          </div>
          <h1 class="glypto-title">
            .
          </h1>
        </div>
      </header>
      <div class="glypto-container">
        
      </div>
    </main>
    <script>
      APP_CONTEXT = {
        sitemap: [{"path":"layout-grid.html","url":"/layout-grid.html","parent":"/","title":"Layout","tags":null},{"path":"typography.html","url":"/typography.html","parent":"/","title":"Typography","tags":null},{"path":"headers.html","url":"/headers.html","parent":"/","title":"Headers","tags":null},{"path":"data.html","url":"/data.html","parent":"/","title":"Data","tags":null},{"path":"forms.html","url":"/forms.html","parent":"/","title":"Forms","tags":null},{"path":"buttons.html","url":"/buttons.html","parent":"/","title":"Buttons","tags":null},{"path":"errors-validation.html","url":"/errors-validation.html","parent":"/","title":"Errors and validation","tags":null},{"path":"phase-banner.html","url":"/phase-banner.html","parent":"/","title":"Alpha and beta banners","tags":null}],
        current_url: "/./"
      }
    </script><script src="assets/scripts/glyptotheque.bundle.js"></script>
  </body>
</html>